h1 {
  text-align: center;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
}

#Wrapper {
  height: auto;
  height: 97vh;
}

.A {
  height: 100%;
}

.B {
  color: white;
  width: 90%;
  height: 97%;
  margin: auto;
  box-shadow: -8px 8px 10px #33334d;
  border-radius: 10px;
  padding: 10px;
  background-color: #00001a;
}

#Left {
  width: 40%;
  float: left;
}

#Right {
  width: 60%;
  float: right;
}

#Cam {
  width: 90%;
  margin: auto;
}