<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Unsustainability Deleter </title>
<link rel="stylesheet" type="text/css" href="../staticFiles/style.css">
</head>

<script>
    const processing_url = {{ url_for("processing")|tojson}}
    var time = 1;

    var interval = setInterval(function() {
        fetch(processing_url)
        .then(response => response.json())
        .then(data => {
            for (var key in data){
                const para = document.createElement("p");
                const node = document.createTextNode(data[key]);
                para.appendChild(node);
    
                const element = document.getElementById("Textbox");
                element.appendChild(para);
            }
        })
    }, 5000);
</script>
<body>
    <div id="Wrapper">
        <div class="A" id="Left">
        <div class="B" id="Textbox">
            <h2 class="C">Quote from articles</h2>
            <p class="C">Transparency Score: </p>
            <p class="C">Wiki Score: </p>
            <p class="C">CO2 Score: </p>
            <p class="C">Average Score: </p>
        </div>
        </div>
        <div class="A" id="Right">
        <div class="B">
            <img id="Cam" src="{{ url_for('video_feed') }}">
        </div>
        </div>
    </div>
</body>

</html>
