h1 {
    text-align: center;
    color: blueviolet;
    font-family: italic;
} 

body {
    background-color: lightgreen;
}

.A {
    text-align: right;
    right: 20px;
    top: 100px;
    color: orange;
    font-size: 40px;
  }
  
  .B {
    text-align: right;
    right: 20px;
    top: 100px;
    color: salmon;
    font-size: 35px;
  }

  .C {
    position: fixed;
    top: 60px;
    left: 40px;
    color: blue;
  }
